gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_dettaglio_movimentazione_test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apimovimentazione.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apimovimentazione.apicoltura.izs.it/" name="ApidetmodEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apimovimentazione.apicoltura.izs.it/" schemaLocation="https://wstest.izs.it:80/j_test_apicoltura/ws/apicoltura/apimovimentazione/dettaglio?xsd=1"/>
</xsd:schema>
</types>
<message name="updateApidetmod">
<part name="parameters" element="tns:updateApidetmod"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateApidetmodResponse">
<part name="result" element="tns:updateApidetmodResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="deleteApidetmod">
<part name="parameters" element="tns:deleteApidetmod"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteApidetmodResponse">
<part name="result" element="tns:deleteApidetmodResponse"/>
</message>
<message name="insertApidetmod">
<part name="parameters" element="tns:insertApidetmod"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertApidetmodResponse">
<part name="result" element="tns:insertApidetmodResponse"/>
</message>
<message name="searchApidetmod">
<part name="parameters" element="tns:searchApidetmod"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApidetmodResponse">
<part name="result" element="tns:searchApidetmodResponse"/>
</message>
<message name="searchApidetmodByPk">
<part name="parameters" element="tns:searchApidetmodByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApidetmodByPkResponse">
<part name="result" element="tns:searchApidetmodByPkResponse"/>
</message>
<portType name="ApidetmodEndpoint">
<operation name="updateApidetmod" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/updateApidetmodRequest" message="tns:updateApidetmod"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/updateApidetmodResponse" message="tns:updateApidetmodResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/updateApidetmod/Fault/BusinessWsException"/>
</operation>
<operation name="deleteApidetmod" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/deleteApidetmodRequest" message="tns:deleteApidetmod"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/deleteApidetmodResponse" message="tns:deleteApidetmodResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/deleteApidetmod/Fault/BusinessWsException"/>
</operation>
<operation name="insertApidetmod" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/insertApidetmodRequest" message="tns:insertApidetmod"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/insertApidetmodResponse" message="tns:insertApidetmodResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/insertApidetmod/Fault/BusinessWsException"/>
</operation>
<operation name="searchApidetmod" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/searchApidetmodRequest" message="tns:searchApidetmod"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/searchApidetmodResponse" message="tns:searchApidetmodResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/searchApidetmod/Fault/BusinessWsException"/>
</operation>
<operation name="searchApidetmodByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/searchApidetmodByPkRequest" message="tns:searchApidetmodByPk"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApidetmodEndpoint/searchApidetmodByPkResponse" message="tns:searchApidetmodByPkResponse"/>
</operation>
</portType>
<binding name="ApidetmodEndpointPortBinding" type="tns:ApidetmodEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateApidetmod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateApidetmod" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deleteApidetmod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteApidetmod" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="insertApidetmod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertApidetmod" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApidetmod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApidetmod" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApidetmodByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApidetmodByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ApidetmodEndpointService">
<port name="ApidetmodEndpointPort" binding="tns:ApidetmodEndpointPortBinding">
<soap:address location="https://wstest.izs.it/j_test_apicoltura/ws/apicoltura/apimovimentazione/dettaglio"/>
</port>
</service>
</definitions>