gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_ubicazione_ufficiale.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apianagrafica.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apianagrafica.apicoltura.izs.it/" name="ApiubiEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apianagrafica.apicoltura.izs.it/" schemaLocation="https://ws.izs.it/j6_apicoltura/ws/apicoltura/apianagrafica/storicoubicazione?xsd=1"/>
</xsd:schema>
</types>
<message name="insertApiUbicazione">
<part name="parameters" element="tns:insertApiUbicazione"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertApiUbicazioneResponse">
<part name="result" element="tns:insertApiUbicazioneResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="updateApiUbicazione">
<part name="parameters" element="tns:updateApiUbicazione"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateApiUbicazioneResponse">
<part name="result" element="tns:updateApiUbicazioneResponse"/>
</message>
<message name="deleteApiUbicazione">
<part name="parameters" element="tns:deleteApiUbicazione"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteApiUbicazioneResponse">
<part name="result" element="tns:deleteApiUbicazioneResponse"/>
</message>
<message name="searchApiUbicazione">
<part name="parameters" element="tns:searchApiUbicazione"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiUbicazioneResponse">
<part name="result" element="tns:searchApiUbicazioneResponse"/>
</message>
<message name="searchApiUbicazioneByPk">
<part name="parameters" element="tns:searchApiUbicazioneByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiUbicazioneByPkResponse">
<part name="result" element="tns:searchApiUbicazioneByPkResponse"/>
</message>
<portType name="ApiubiEndpoint">
<operation name="insertApiUbicazione" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/insertApiUbicazioneRequest" message="tns:insertApiUbicazione"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/insertApiUbicazioneResponse" message="tns:insertApiUbicazioneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/insertApiUbicazione/Fault/BusinessWsException"/>
</operation>
<operation name="updateApiUbicazione" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/updateApiUbicazioneRequest" message="tns:updateApiUbicazione"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/updateApiUbicazioneResponse" message="tns:updateApiUbicazioneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/updateApiUbicazione/Fault/BusinessWsException"/>
</operation>
<operation name="deleteApiUbicazione" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/deleteApiUbicazioneRequest" message="tns:deleteApiUbicazione"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/deleteApiUbicazioneResponse" message="tns:deleteApiUbicazioneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/deleteApiUbicazione/Fault/BusinessWsException"/>
</operation>
<operation name="searchApiUbicazione" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/searchApiUbicazioneRequest" message="tns:searchApiUbicazione"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/searchApiUbicazioneResponse" message="tns:searchApiUbicazioneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/searchApiUbicazione/Fault/BusinessWsException"/>
</operation>
<operation name="searchApiUbicazioneByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/searchApiUbicazioneByPkRequest" message="tns:searchApiUbicazioneByPk"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiubiEndpoint/searchApiUbicazioneByPkResponse" message="tns:searchApiUbicazioneByPkResponse"/>
</operation>
</portType>
<binding name="ApiubiEndpointPortBinding" type="tns:ApiubiEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertApiUbicazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertApiUbicazione" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="updateApiUbicazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateApiUbicazione" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deleteApiUbicazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteApiUbicazione" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApiUbicazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiUbicazione" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApiUbicazioneByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiUbicazioneByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ApiubiEndpointService">
<port name="ApiubiEndpointPort" binding="tns:ApiubiEndpointPortBinding">
<soap:address location="https://ws.izs.it/j6_apicoltura/ws/apicoltura/apianagrafica/storicoubicazione"/>
</port>
</service>
</definitions>