gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_storicodetentore_test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apianagrafica.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apianagrafica.apicoltura.izs.it/" name="ApistodetEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apianagrafica.apicoltura.izs.it/" schemaLocation="http://wstest.izs.it:80/j_test_apicoltura/ws/apicoltura/apianagrafica/storicodetentore?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteStoricoDetentore">
<part name="parameters" element="tns:deleteStoricoDetentore"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteStoricoDetentoreResponse">
<part name="result" element="tns:deleteStoricoDetentoreResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="searchStoricoDetentoreByPk">
<part name="parameters" element="tns:searchStoricoDetentoreByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchStoricoDetentoreByPkResponse">
<part name="result" element="tns:searchStoricoDetentoreByPkResponse"/>
</message>
<message name="searchStoricoDetentore">
<part name="parameters" element="tns:searchStoricoDetentore"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchStoricoDetentoreResponse">
<part name="result" element="tns:searchStoricoDetentoreResponse"/>
</message>
<message name="insertStoricoDetentore">
<part name="parameters" element="tns:insertStoricoDetentore"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertStoricoDetentoreResponse">
<part name="result" element="tns:insertStoricoDetentoreResponse"/>
</message>
<message name="updateStoricoDetentore">
<part name="parameters" element="tns:updateStoricoDetentore"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateStoricoDetentoreResponse">
<part name="result" element="tns:updateStoricoDetentoreResponse"/>
</message>
<portType name="ApistodetEndpoint">
<operation name="deleteStoricoDetentore" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/deleteStoricoDetentoreRequest" message="tns:deleteStoricoDetentore"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/deleteStoricoDetentoreResponse" message="tns:deleteStoricoDetentoreResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/deleteStoricoDetentore/Fault/BusinessWsException"/>
</operation>
<operation name="searchStoricoDetentoreByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/searchStoricoDetentoreByPkRequest" message="tns:searchStoricoDetentoreByPk"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/searchStoricoDetentoreByPkResponse" message="tns:searchStoricoDetentoreByPkResponse"/>
</operation>
<operation name="searchStoricoDetentore" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/searchStoricoDetentoreRequest" message="tns:searchStoricoDetentore"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/searchStoricoDetentoreResponse" message="tns:searchStoricoDetentoreResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/searchStoricoDetentore/Fault/BusinessWsException"/>
</operation>
<operation name="insertStoricoDetentore" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/insertStoricoDetentoreRequest" message="tns:insertStoricoDetentore"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/insertStoricoDetentoreResponse" message="tns:insertStoricoDetentoreResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/insertStoricoDetentore/Fault/BusinessWsException"/>
</operation>
<operation name="updateStoricoDetentore" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/updateStoricoDetentoreRequest" message="tns:updateStoricoDetentore"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/updateStoricoDetentoreResponse" message="tns:updateStoricoDetentoreResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApistodetEndpoint/updateStoricoDetentore/Fault/BusinessWsException"/>
</operation>
</portType>
<binding name="ApistodetEndpointPortBinding" type="tns:ApistodetEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteStoricoDetentore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteStoricoDetentore" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchStoricoDetentoreByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchStoricoDetentoreByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchStoricoDetentore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchStoricoDetentore" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="insertStoricoDetentore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertStoricoDetentore" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="updateStoricoDetentore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateStoricoDetentore" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ApistodetEndpointService">
<port name="ApistodetEndpointPort" binding="tns:ApistodetEndpointPortBinding">
<soap:address location="https://wstest.izs.it/j_test_apicoltura/ws/apicoltura/apianagrafica/storicodetentore"/>
</port>
</service>
</definitions>