gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_api_test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apianagrafica.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apianagrafica.apicoltura.izs.it/" name="ApiEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apianagrafica.apicoltura.izs.it/" schemaLocation="http://wstest.izs.it:80/j_test_apicoltura/ws/apicoltura/apianagrafica/apiario?xsd=1"/>
</xsd:schema>
</types>
<message name="searchApiByPk">
<part name="parameters" element="tns:searchApiByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiByPkResponse">
<part name="result" element="tns:searchApiByPkResponse"/>
</message>
<message name="elencoApiariApicoltoriFuoriRegione">
<part name="parameters" element="tns:elencoApiariApicoltoriFuoriRegione"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="elencoApiariApicoltoriFuoriRegioneResponse">
<part name="result" element="tns:elencoApiariApicoltoriFuoriRegioneResponse"/>
</message>
<message name="insertApiario">
<part name="parameters" element="tns:insertApiario"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertApiarioResponse">
<part name="result" element="tns:insertApiarioResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="updateApiario">
<part name="parameters" element="tns:updateApiario"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateApiarioResponse">
<part name="result" element="tns:updateApiarioResponse"/>
</message>
<message name="deleteApiario">
<part name="parameters" element="tns:deleteApiario"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteApiarioResponse">
<part name="result" element="tns:deleteApiarioResponse"/>
</message>
<message name="searchApi">
<part name="parameters" element="tns:searchApi"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiResponse">
<part name="result" element="tns:searchApiResponse"/>
</message>
<portType name="ApiEndpoint">
<operation name="searchApiByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/searchApiByPkRequest" message="tns:searchApiByPk"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/searchApiByPkResponse" message="tns:searchApiByPkResponse"/>
</operation>
<operation name="elencoApiariApicoltoriFuoriRegione" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/elencoApiariApicoltoriFuoriRegioneRequest" message="tns:elencoApiariApicoltoriFuoriRegione"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/elencoApiariApicoltoriFuoriRegioneResponse" message="tns:elencoApiariApicoltoriFuoriRegioneResponse"/>
</operation>
<operation name="insertApiario" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/insertApiarioRequest" message="tns:insertApiario"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/insertApiarioResponse" message="tns:insertApiarioResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/insertApiario/Fault/BusinessWsException"/>
</operation>
<operation name="updateApiario" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/updateApiarioRequest" message="tns:updateApiario"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/updateApiarioResponse" message="tns:updateApiarioResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/updateApiario/Fault/BusinessWsException"/>
</operation>
<operation name="deleteApiario" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/deleteApiarioRequest" message="tns:deleteApiario"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/deleteApiarioResponse" message="tns:deleteApiarioResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/deleteApiario/Fault/BusinessWsException"/>
</operation>
<operation name="searchApi" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/searchApiRequest" message="tns:searchApi"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/searchApiResponse" message="tns:searchApiResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiEndpoint/searchApi/Fault/BusinessWsException"/>
</operation>
</portType>
<binding name="ApiEndpointPortBinding" type="tns:ApiEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchApiByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elencoApiariApicoltoriFuoriRegione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:elencoApiariApicoltoriFuoriRegione" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertApiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertApiario" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="updateApiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateApiario" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deleteApiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteApiario" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApi" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ApiEndpointService">
<port name="ApiEndpointPort" binding="tns:ApiEndpointPortBinding">
<soap:address location="https://wstest.izs.it/j_test_apicoltura/ws/apicoltura/apianagrafica/apiario"/>
</port>
</service>
</definitions>