gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_persone_test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.anagrafica.bdn.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.anagrafica.bdn.izs.it/" name="PersoneEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.anagrafica.bdn.izs.it/" schemaLocation="http://wstest.izs.it:80/j_test_apicoltura/ws/anagrafica/persone?xsd=1"/>
</xsd:schema>
</types>
<message name="insertPersone">
<part name="parameters" element="tns:insertPersone"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertPersoneResponse">
<part name="result" element="tns:insertPersoneResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="updatePersone">
<part name="parameters" element="tns:updatePersone"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updatePersoneResponse">
<part name="result" element="tns:updatePersoneResponse"/>
</message>
<message name="deletePersone">
<part name="parameters" element="tns:deletePersone"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deletePersoneResponse">
<part name="result" element="tns:deletePersoneResponse"/>
</message>
<message name="searchPersone">
<part name="parameters" element="tns:searchPersone"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchPersoneResponse">
<part name="result" element="tns:searchPersoneResponse"/>
</message>
<message name="searchPersoneByPk">
<part name="parameters" element="tns:searchPersoneByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchPersoneByPkResponse">
<part name="result" element="tns:searchPersoneByPkResponse"/>
</message>
<portType name="PersoneEndpoint">
<operation name="insertPersone" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/insertPersoneRequest" message="tns:insertPersone"/>
<output wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/insertPersoneResponse" message="tns:insertPersoneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/insertPersone/Fault/BusinessWsException"/>
</operation>
<operation name="updatePersone" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/updatePersoneRequest" message="tns:updatePersone"/>
<output wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/updatePersoneResponse" message="tns:updatePersoneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/updatePersone/Fault/BusinessWsException"/>
</operation>
<operation name="deletePersone" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/deletePersoneRequest" message="tns:deletePersone"/>
<output wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/deletePersoneResponse" message="tns:deletePersoneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/deletePersone/Fault/BusinessWsException"/>
</operation>
<operation name="searchPersone" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/searchPersoneRequest" message="tns:searchPersone"/>
<output wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/searchPersoneResponse" message="tns:searchPersoneResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/searchPersone/Fault/BusinessWsException"/>
</operation>
<operation name="searchPersoneByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/searchPersoneByPkRequest" message="tns:searchPersoneByPk"/>
<output wsam:Action="http://ws.anagrafica.bdn.izs.it/PersoneEndpoint/searchPersoneByPkResponse" message="tns:searchPersoneByPkResponse"/>
</operation>
</portType>
<binding name="PersoneEndpointPortBinding" type="tns:PersoneEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertPersone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertPersone" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="updatePersone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updatePersone" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deletePersone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deletePersone" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchPersone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchPersone" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchPersoneByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchPersoneByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersoneEndpointService">
<port name="PersoneEndpointPort" binding="tns:PersoneEndpointPortBinding">
<soap:address location="https://wstest.izs.it/j_test_apicoltura/ws/anagrafica/persone"/>
</port>
</service>
</definitions>