gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_censimenti_test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apianagrafica.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apianagrafica.apicoltura.izs.it/" name="ApicenEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apianagrafica.apicoltura.izs.it/" schemaLocation="http://wstest.izs.it:80/j_test_apicoltura/ws/apicoltura/apianagrafica/apicensimento?xsd=1"/>
</xsd:schema>
</types>
<message name="searchApiCensimentoByPk">
<part name="parameters" element="tns:searchApiCensimentoByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiCensimentoByPkResponse">
<part name="result" element="tns:searchApiCensimentoByPkResponse"/>
</message>
<message name="searchApiCensimento">
<part name="parameters" element="tns:searchApiCensimento"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiCensimentoResponse">
<part name="result" element="tns:searchApiCensimentoResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="insertApiCensimento">
<part name="parameters" element="tns:insertApiCensimento"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertApiCensimentoResponse">
<part name="result" element="tns:insertApiCensimentoResponse"/>
</message>
<message name="deleteApiCensimento">
<part name="parameters" element="tns:deleteApiCensimento"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteApiCensimentoResponse">
<part name="result" element="tns:deleteApiCensimentoResponse"/>
</message>
<message name="updateApiCensimento">
<part name="parameters" element="tns:updateApiCensimento"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateApiCensimentoResponse">
<part name="result" element="tns:updateApiCensimentoResponse"/>
</message>
<portType name="ApicenEndpoint">
<operation name="searchApiCensimentoByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/searchApiCensimentoByPkRequest" message="tns:searchApiCensimentoByPk"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/searchApiCensimentoByPkResponse" message="tns:searchApiCensimentoByPkResponse"/>
</operation>
<operation name="searchApiCensimento" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/searchApiCensimentoRequest" message="tns:searchApiCensimento"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/searchApiCensimentoResponse" message="tns:searchApiCensimentoResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/searchApiCensimento/Fault/BusinessWsException"/>
</operation>
<operation name="insertApiCensimento" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/insertApiCensimentoRequest" message="tns:insertApiCensimento"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/insertApiCensimentoResponse" message="tns:insertApiCensimentoResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/insertApiCensimento/Fault/BusinessWsException"/>
</operation>
<operation name="deleteApiCensimento" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/deleteApiCensimentoRequest" message="tns:deleteApiCensimento"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/deleteApiCensimentoResponse" message="tns:deleteApiCensimentoResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/deleteApiCensimento/Fault/BusinessWsException"/>
</operation>
<operation name="updateApiCensimento" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/updateApiCensimentoRequest" message="tns:updateApiCensimento"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/updateApiCensimentoResponse" message="tns:updateApiCensimentoResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApicenEndpoint/updateApiCensimento/Fault/BusinessWsException"/>
</operation>
</portType>
<binding name="ApicenEndpointPortBinding" type="tns:ApicenEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchApiCensimentoByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiCensimentoByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchApiCensimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiCensimento" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="insertApiCensimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertApiCensimento" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deleteApiCensimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteApiCensimento" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="updateApiCensimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateApiCensimento" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ApicenEndpointService">
<port name="ApicenEndpointPort" binding="tns:ApicenEndpointPortBinding">
<soap:address location="https://wstest.izs.it/j_test_apicoltura/ws/apicoltura/apianagrafica/apicensimento"/>
</port>
</service>
</definitions>