gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_movimentazione_test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apimovimentazione.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apimovimentazione.apicoltura.izs.it/" name="ApimodmovEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apimovimentazione.apicoltura.izs.it/" schemaLocation="https://wstest.izs.it:80/j_test_apicoltura/ws/apicoltura/apimovimentazione/modello?xsd=1"/>
</xsd:schema>
</types>
<message name="insertApimodmov">
<part name="parameters" element="tns:insertApimodmov"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertApimodmovResponse">
<part name="result" element="tns:insertApimodmovResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="updateApimodmov">
<part name="parameters" element="tns:updateApimodmov"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateApimodmovResponse">
<part name="result" element="tns:updateApimodmovResponse"/>
</message>
<message name="searchApimodmov">
<part name="parameters" element="tns:searchApimodmov"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApimodmovResponse">
<part name="result" element="tns:searchApimodmovResponse"/>
</message>
<message name="deleteApimodmov">
<part name="parameters" element="tns:deleteApimodmov"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteApimodmovResponse">
<part name="result" element="tns:deleteApimodmovResponse"/>
</message>
<message name="searchApimodmovByPk">
<part name="parameters" element="tns:searchApimodmovByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApimodmovByPkResponse">
<part name="result" element="tns:searchApimodmovByPkResponse"/>
</message>
<portType name="ApimodmovEndpoint">
<operation name="insertApimodmov" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/insertApimodmovRequest" message="tns:insertApimodmov"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/insertApimodmovResponse" message="tns:insertApimodmovResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/insertApimodmov/Fault/BusinessWsException"/>
</operation>
<operation name="updateApimodmov" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/updateApimodmovRequest" message="tns:updateApimodmov"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/updateApimodmovResponse" message="tns:updateApimodmovResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/updateApimodmov/Fault/BusinessWsException"/>
</operation>
<operation name="searchApimodmov" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/searchApimodmovRequest" message="tns:searchApimodmov"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/searchApimodmovResponse" message="tns:searchApimodmovResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/searchApimodmov/Fault/BusinessWsException"/>
</operation>
<operation name="deleteApimodmov" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/deleteApimodmovRequest" message="tns:deleteApimodmov"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/deleteApimodmovResponse" message="tns:deleteApimodmovResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/deleteApimodmov/Fault/BusinessWsException"/>
</operation>
<operation name="searchApimodmovByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/searchApimodmovByPkRequest" message="tns:searchApimodmovByPk"/>
<output wsam:Action="http://ws.apimovimentazione.apicoltura.izs.it/ApimodmovEndpoint/searchApimodmovByPkResponse" message="tns:searchApimodmovByPkResponse"/>
</operation>
</portType>
<binding name="ApimodmovEndpointPortBinding" type="tns:ApimodmovEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertApimodmov">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertApimodmov" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="updateApimodmov">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateApimodmov" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApimodmov">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApimodmov" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deleteApimodmov">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteApimodmov" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApimodmovByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApimodmovByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ApimodmovEndpointService">
<port name="ApimodmovEndpointPort" binding="tns:ApimodmovEndpointPortBinding">
<soap:address location="https://wstest.izs.it/j_test_apicoltura/ws/apicoltura/apimovimentazione/modello"/>
</port>
</service>
</definitions>