gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_azienda_ufficiale.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apianagrafica.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apianagrafica.apicoltura.izs.it/" name="ApiaziendaEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apianagrafica.apicoltura.izs.it/" schemaLocation="https://ws.izs.it/j6_apicoltura/ws/apicoltura/apianagrafica/apiazienda?xsd=1"/>
</xsd:schema>
</types>
<message name="insertApiAzienda">
<part name="parameters" element="tns:insertApiAzienda"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertApiAziendaResponse">
<part name="result" element="tns:insertApiAziendaResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="updateApiAzienda">
<part name="parameters" element="tns:updateApiAzienda"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateApiAziendaResponse">
<part name="result" element="tns:updateApiAziendaResponse"/>
</message>
<message name="deleteApiAzienda">
<part name="parameters" element="tns:deleteApiAzienda"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteApiAziendaResponse">
<part name="result" element="tns:deleteApiAziendaResponse"/>
</message>
<message name="searchApiAzienda">
<part name="parameters" element="tns:searchApiAzienda"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiAziendaResponse">
<part name="result" element="tns:searchApiAziendaResponse"/>
</message>
<message name="elencoCodiciDisponibili">
<part name="parameters" element="tns:elencoCodiciDisponibili"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="elencoCodiciDisponibiliResponse">
<part name="result" element="tns:elencoCodiciDisponibiliResponse"/>
</message>
<message name="elencoCodiciAssegnati">
<part name="parameters" element="tns:elencoCodiciAssegnati"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="elencoCodiciAssegnatiResponse">
<part name="result" element="tns:elencoCodiciAssegnatiResponse"/>
</message>
<message name="searchApiAziendaByPk">
<part name="parameters" element="tns:searchApiAziendaByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiAziendaByPkResponse">
<part name="result" element="tns:searchApiAziendaByPkResponse"/>
</message>
<portType name="ApiaziendaEndpoint">
<operation name="insertApiAzienda" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/insertApiAziendaRequest" message="tns:insertApiAzienda"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/insertApiAziendaResponse" message="tns:insertApiAziendaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/insertApiAzienda/Fault/BusinessWsException"/>
</operation>
<operation name="updateApiAzienda" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/updateApiAziendaRequest" message="tns:updateApiAzienda"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/updateApiAziendaResponse" message="tns:updateApiAziendaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/updateApiAzienda/Fault/BusinessWsException"/>
</operation>
<operation name="deleteApiAzienda" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/deleteApiAziendaRequest" message="tns:deleteApiAzienda"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/deleteApiAziendaResponse" message="tns:deleteApiAziendaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/deleteApiAzienda/Fault/BusinessWsException"/>
</operation>
<operation name="searchApiAzienda" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/searchApiAziendaRequest" message="tns:searchApiAzienda"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/searchApiAziendaResponse" message="tns:searchApiAziendaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/searchApiAzienda/Fault/BusinessWsException"/>
</operation>
<operation name="elencoCodiciDisponibili" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/elencoCodiciDisponibiliRequest" message="tns:elencoCodiciDisponibili"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/elencoCodiciDisponibiliResponse" message="tns:elencoCodiciDisponibiliResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/elencoCodiciDisponibili/Fault/BusinessWsException"/>
</operation>
<operation name="elencoCodiciAssegnati" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/elencoCodiciAssegnatiRequest" message="tns:elencoCodiciAssegnati"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/elencoCodiciAssegnatiResponse" message="tns:elencoCodiciAssegnatiResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/elencoCodiciAssegnati/Fault/BusinessWsException"/>
</operation>
<operation name="searchApiAziendaByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/searchApiAziendaByPkRequest" message="tns:searchApiAziendaByPk"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiaziendaEndpoint/searchApiAziendaByPkResponse" message="tns:searchApiAziendaByPkResponse"/>
</operation>
</portType>
<binding name="ApiaziendaEndpointPortBinding" type="tns:ApiaziendaEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertApiAzienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertApiAzienda" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="updateApiAzienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateApiAzienda" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deleteApiAzienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteApiAzienda" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApiAzienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiAzienda" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="elencoCodiciDisponibili">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:elencoCodiciDisponibili" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="elencoCodiciAssegnati">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:elencoCodiciAssegnati" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApiAziendaByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiAziendaByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ApiaziendaEndpointService">
<port name="ApiaziendaEndpointPort" binding="tns:ApiaziendaEndpointPortBinding">
<soap:address location="https://ws.izs.it/j6_apicoltura/ws/apicoltura/apianagrafica/apiazienda"/>
</port>
</service>
</definitions>