gisa_controlli_ufficiali/gisa_nt/WebContent/apiari/wsdl/wsdl_attivita_test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apianagrafica.apicoltura.izs.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apianagrafica.apicoltura.izs.it/" name="ApiattEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.apianagrafica.apicoltura.izs.it/" schemaLocation="http://wstest.izs.it:80/j_test_apicoltura/ws/apicoltura/apianagrafica/apiattivita?xsd=1"/>
</xsd:schema>
</types>
<message name="updateApiAttivita">
<part name="parameters" element="tns:updateApiAttivita"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="updateApiAttivitaResponse">
<part name="result" element="tns:updateApiAttivitaResponse"/>
</message>
<message name="BusinessWsException">
<part name="fault" element="tns:BusinessFault"/>
</message>
<message name="deleteApiAttivita">
<part name="parameters" element="tns:deleteApiAttivita"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="deleteApiAttivitaResponse">
<part name="result" element="tns:deleteApiAttivitaResponse"/>
</message>
<message name="searchApiAttivita">
<part name="parameters" element="tns:searchApiAttivita"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiAttivitaResponse">
<part name="result" element="tns:searchApiAttivitaResponse"/>
</message>
<message name="searchApiAttivitaByPk">
<part name="parameters" element="tns:searchApiAttivitaByPk"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="searchApiAttivitaByPkResponse">
<part name="result" element="tns:searchApiAttivitaByPkResponse"/>
</message>
<message name="insertApiAttivita">
<part name="parameters" element="tns:insertApiAttivita"/>
<part name="SOAPAutenticazioneWS" element="tns:SOAPAutenticazioneWS"/>
</message>
<message name="insertApiAttivitaResponse">
<part name="result" element="tns:insertApiAttivitaResponse"/>
</message>
<portType name="ApiattEndpoint">
<operation name="updateApiAttivita" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/updateApiAttivitaRequest" message="tns:updateApiAttivita"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/updateApiAttivitaResponse" message="tns:updateApiAttivitaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/updateApiAttivita/Fault/BusinessWsException"/>
</operation>
<operation name="deleteApiAttivita" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/deleteApiAttivitaRequest" message="tns:deleteApiAttivita"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/deleteApiAttivitaResponse" message="tns:deleteApiAttivitaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/deleteApiAttivita/Fault/BusinessWsException"/>
</operation>
<operation name="searchApiAttivita" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/searchApiAttivitaRequest" message="tns:searchApiAttivita"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/searchApiAttivitaResponse" message="tns:searchApiAttivitaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/searchApiAttivita/Fault/BusinessWsException"/>
</operation>
<operation name="searchApiAttivitaByPk" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/searchApiAttivitaByPkRequest" message="tns:searchApiAttivitaByPk"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/searchApiAttivitaByPkResponse" message="tns:searchApiAttivitaByPkResponse"/>
</operation>
<operation name="insertApiAttivita" parameterOrder="parameters SOAPAutenticazioneWS">
<input wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/insertApiAttivitaRequest" message="tns:insertApiAttivita"/>
<output wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/insertApiAttivitaResponse" message="tns:insertApiAttivitaResponse"/>
<fault message="tns:BusinessWsException" name="BusinessWsException" wsam:Action="http://ws.apianagrafica.apicoltura.izs.it/ApiattEndpoint/insertApiAttivita/Fault/BusinessWsException"/>
</operation>
</portType>
<binding name="ApiattEndpointPortBinding" type="tns:ApiattEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateApiAttivita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:updateApiAttivita" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="deleteApiAttivita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:deleteApiAttivita" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApiAttivita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiAttivita" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
<operation name="searchApiAttivitaByPk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:searchApiAttivitaByPk" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertApiAttivita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:insertApiAttivita" part="SOAPAutenticazioneWS" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessWsException">
<soap:fault name="BusinessWsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ApiattEndpointService">
<port name="ApiattEndpointPort" binding="tns:ApiattEndpointPortBinding">
<soap:address location="https://wstest.izs.it/j_test_apicoltura/ws/apicoltura/apianagrafica/apiattivita"/>
</port>
</service>
</definitions>